<h1>Data Science Environment</h1>

This notebook details the basic aspects of the Data Science. It mentions the tools and tecniques employed in a Data Science environment.

<h5>Some of the popular languages that Data Scientists use are:</h5>
1. Python <br>
2. R <br>
3. SQL <br>

<h5>Some of the popular Data Science libraries are:</h5>
1. Pandas <br>
2. Numpy <br>
3. SciPy <br>
4. Matplotlib <br>

<h5>Some of the popular Data Science tools are:</h5>

Data Management   | Data Integration and Transformation  | Data Visualization| Model Deployment  |
------------------|--------------------------------------|-------------------|-------------------|
MySQL             | Apache AirFlow                       | Pixie Dust        |Seldon             |
PostgreSQL        | Kubeflow                             | Apache Superset   |Kubernetes         |
MongoDB           | Apache Kafka                         | Kibana            |Apache PredictionIO|
Appache CouchDB   | Apache Nifi                          | Hue               |MLeap              |

<h5>Arithmetic Expressions in Python:</h5>
Arithmetic expressions include addition, subtraction, multiplication, division etc. <br>
1. Addition: 4+3 <br>
2. Subtraction: 4-3 <br>
3. Multiplication: 4*3 <br>
4. Division: 4/3 <br>

In [11]:
#Addition 
2+3
#Multiplication
2*3

6

In [14]:
#Arithmetic solution to convert Minutes to Hours
mins = 233
hrs = mins/60
hrs

3.8833333333333333

<h5>Objectives:</h5>
The objectives of this notebook are: <br>
1. Introduce the languages, libraries, and tools of Data science. <br>
2. Introduce arithmetic expressions. <br>
3. Demonstrate usage of various arithmetic expressions. <br>

<h5>Author: Anju Varghese</h5>